html, body {
    margin: 0;
    padding: 0;
    font-family: 'Pangolin', cursive;
    background-color: lightgray;
}

html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

a:hover {
    color: gray;
}

img {
    background-color: black;
}

header {
    flex: 0 0 auto;
    text-align: center;
    color: white;
}

nav {
    padding: 0 20px;
}

#main {
    flex: 1 0 auto;
    height: 400px;
    padding: 20px 20px 0 20px;
}

footer {
    flex: 0 0 auto;
    background-color: black;
}

footer a {
    padding: 0;
}