html, body {
    background-color: gray;
}

.fixed-container {
    margin: 0 auto;
    padding: 0 20px;
}

header {
    height: auto;
    background-color: #000;
    color: white;
}

nav {
    margin: 0;
}