* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1366px;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  cursor: pointer;
}

img {
  display: block;
}

input,
textarea {
  outline: none;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.contacts_page_wrapper {
  max-width: 940px;
  margin: 0 auto;
}
