@media (max-width: 1024px) {
  .wrapper {
    padding: 0 32px;
  }

  .header {
    padding: 10px 0 41px 0;
  }

  .contact_us {
    padding-bottom: 64px;

    &__description {
      width: 65%;
    }
  }

  .contacts {
    &__wrapper {
      flex-direction: column;
    }

    &__contact_info {
      margin-bottom: 64px;
    }
  }

  .map {
    &__image {
      width: 100%;
    }
  }

  .footer {
    &__top {
      margin: 0 auto;
      width: 75%;
    }

    &__bottom {
      margin: 0 auto;
      width: 75%;
    }

    &__contacts {
      flex-direction: column;

      &_item {
        padding-left: 50px;
        margin-bottom: 25px;

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }

    &__description {
      max-width: 336px;
    }

    &__lets_talk_button {
      padding: 3px 36px;
    }

    &__contacts_item {
      margin-right: 0px;
    }
  }
}

@media (max-width: 512px) {
  .wrapper {
    padding: 0 16px;
  }

  .header {
    padding: 16px 0 28px 0;
  }

  .contact_us {
    &__heading {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 32px;
    }

    &__description {
      width: 90%;
      font-size: 16px;
      line-height: 30px;
    }
  }

  .contacts {
    &__wrapper {
      padding: 16px;
    }

    &__item_description {
      max-width: 80%;
    }

    &__contact_info {
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__image {
      align-self: center;
    }

    &__contact_info_item {
      margin-bottom: 32px;
    }

    &__contact_form {
      width: 100%;
      margin: 0 16px;

      &_input {
        padding: 13px 0 13px 26px;
      }

      &_textarea {
        padding: 13px 0 0 22px;
      }

      &_button {
        padding: 15px 0;
      }
    }
  }

  .footer {
    &__top {
      width: 100%;
      padding: 18px 0 40px 0;
      flex-direction: column;
      text-align: center;
    }

    &__heading {
      max-width: 100%;
    }

    &__heading {
      font-size: 24px;
      line-height: 28px;
    }

    &__description {
      max-width: 100%;
      margin-bottom: 40px;
    }

    &__lets_talk_button {
      padding: 3px 24px;
    }

    &__bottom {
      width: 100%;
      padding: 32px 0;
    }

    &__contacts {
      &_address::before {
        content: "1.";
      }

      &_phone_number::before {
        content: "2.";
      }

      &_email::before {
        content: "3.";
      }
    }

    &__copyright {
      text-align: center;
    }
  }
}
