* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

// ::-webkit-scrollbar {
//     width: 0px;
//     background: transparent;
// }
