body {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1366px;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  cursor: pointer;
}

img {
  display: block;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.top_content {
  padding-top: 34px;
  padding-bottom: 60px;
  background-image: url("../../assets/index/top_content/top_content_shadow.png");
  background-size: cover;
}

.header {
  margin-bottom: 112px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top_content_main__wrapper {
  padding-bottom: 130px;
  background-image: url("../../assets/index/top_content/top_content_main/top_content_background.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 45%;
}

.top_content_main__heading {
  max-width: 506px;
  font-weight: 300;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.04em;
  color: #1f3f68;
  margin-bottom: 32px;
}

.top_content_main__text {
  max-width: 425px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1f3f68;
  opacity: 0.6;
  margin-bottom: 71px;
}

.top_content_main__button {
  padding: 15px 50px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #5a98d0;
  -webkit-box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
          box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border: none;
  border-radius: 10px;
}

.top_content_main__image {
  display: block;
  height: 100%;
}

.what_we_do {
  padding: 64px 0;
}

.what_we_do__heading {
  font-weight: 300;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 64px;
}

.what_we_do__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.what_we_do__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 44px 44px 44px 32px;
  max-width: 359px;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  position: relative;
}

.what_we_do__item_image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.what_we_do__item_buttons_image {
  position: absolute;
  top: 0px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.what_we_do__item_title {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #1f3f68;
  margin-top: 50px;
}

.what_we_do__item_text {
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1f3f68;
  opacity: 0.6;
  margin-top: 15px;
}

.what_we_do__item_button {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5a98d0;
  margin-top: 30px;
  background: none;
  border: none;
  position: relative;
}

.what_we_do__item_button::after {
  position: absolute;
  top: 3px;
  right: -35px;
  content: url("../../assets/index/what_we_do/right_arrow.svg");
}

.our_project {
  padding-bottom: 112px;
}

.our_project__heading {
  font-weight: 300;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 32px;
}

.our_project__description {
  max-width: 750px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #222222;
  margin: 0 auto;
  margin-bottom: 64px;
}

.our_project__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our_project__item {
  width: 49%;
  position: relative;
}

.our_project__item_title {
  position: absolute;
  top: 32px;
  left: 32px;
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.05em;
  font-weight: 400;
  color: #ffffff;
}

.our_project__item_image {
  width: 100%;
}

.our_project__smart_home_item {
  width: 100%;
  position: relative;
  margin-bottom: 32px;
}

.our_project__smart_home_image {
  width: 100%;
}

.our_project__smart_home_title {
  position: absolute;
  top: 64px;
  right: 64px;
  font-size: 32px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  font-weight: 400;
  color: #ffffff;
}

.footer {
  background: #316099;
}

.footer__top {
  padding: 96px 0 91px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__heading {
  max-width: 341px;
  font-size: 36px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 32px;
}

.footer__description {
  max-width: 495px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.6;
}

.footer__lets_talk_button {
  padding: 15px 80px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
  background: #5a98d0;
}

.footer__line {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.footer__bottom {
  padding: 64px 0;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 64px;
}

.footer__contacts_item {
  padding-left: 20px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  position: relative;
  margin-right: 94px;
}

.footer__contacts_address::before {
  position: absolute;
  left: 0px;
  content: "A.";
}

.footer__contacts_phone_number::before {
  position: absolute;
  left: 0px;
  content: "T.";
}

.footer__contacts_email::before {
  position: absolute;
  left: 0px;
  content: "E.";
}

.footer__link {
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.footer__copyright {
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.4;
}

@media (max-width: 1024px) {
  .wrapper {
    padding: 0 32px;
  }
  .top_content_main__wrapper {
    padding-bottom: 130px;
    background-position: right 175px;
  }
  .what_we_do {
    padding: 64px 0 127px 0;
  }
  .what_we_do__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .what_we_do__item {
    margin-bottom: 32px;
  }
  .what_we_do__item:last-child {
    margin-bottom: 0px;
  }
  .our_project__description {
    max-width: 540px;
  }
  .our_project__item_title {
    top: 20px;
    left: 20px;
  }
  .footer__top {
    margin: 0 auto;
    width: 75%;
  }
  .footer__bottom {
    margin: 0 auto;
    width: 75%;
  }
  .footer__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__contacts_item {
    padding-left: 50px;
    margin-bottom: 25px;
  }
  .footer__contacts_item:last-child {
    margin-bottom: 0px;
  }
  .footer__description {
    max-width: 336px;
  }
  .footer__lets_talk_button {
    padding: 3px 36px;
  }
  .footer__contacts_item {
    margin-right: 0px;
  }
}

@media (max-width: 512px) {
  .wrapper {
    padding: 0 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .top_content {
    padding-top: 0px;
    padding-bottom: 40px;
  }
  .header {
    padding: 16px 0 28px 0;
    margin-bottom: 0px;
  }
  .top_content_main__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    background: none;
  }
  .top_content_main__heading {
    width: 80%;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    margin-bottom: 12px;
  }
  .top_content_main__text {
    margin-bottom: 32px;
  }
  .top_content_main__button {
    padding: 1px 8px;
  }
  .what_we_do {
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .what_we_do__heading {
    font-size: 24px;
    line-height: 28px;
  }
  .our_project {
    padding-bottom: 64px;
  }
  .our_project__heading {
    font-size: 24px;
    line-height: 28px;
  }
  .our_project__items {
    display: block;
  }
  .our_project__item {
    width: 100%;
    margin-bottom: 16px;
  }
  .our_project__item:last-child {
    margin: 0;
  }
  .our_project__item_title {
    top: 26px;
    left: 16px;
    font-size: 16px;
    line-height: 19px;
  }
  .our_project__smart_home_item {
    margin-bottom: 16px;
  }
  .our_project__smart_home_title {
    top: 16px;
    right: 16px;
    font-size: 16px;
    line-height: 19px;
  }
  .footer__top {
    width: 100%;
    padding: 18px 0 40px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer__top_left_column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__heading {
    width: 65%;
  }
  .footer__heading {
    font-size: 24px;
    line-height: 28px;
  }
  .footer__description {
    max-width: 100%;
    margin-bottom: 40px;
  }
  .footer__lets_talk_button {
    padding: 3px 24px;
  }
  .footer__bottom {
    width: 100%;
    padding: 32px 0;
  }
  .footer__contacts_address::before {
    content: "1.";
  }
  .footer__contacts_phone_number::before {
    content: "2.";
  }
  .footer__contacts_email::before {
    content: "3.";
  }
  .footer__copyright {
    text-align: center;
  }
}
/*# sourceMappingURL=stylesheet.css.map */