.contact_me {
    padding: 100px 0;
    background-color: $secondaryColor;
    text-align: center;
    color: $textColor;

    &__dark {
        background-color: $secondaryColor_dark;
        color: $textColor_dark;
    }

    &__heading {
        font-size: 48px;
        margin-bottom: 30px;
    }

    &__social_links {
        display: flex;
        justify-content: space-around;
    }

    &__link {
        color: $textColor;

        &:hover {
            transform: translateY(5px);
            transition-duration: 0.4s;
        }

        &__dark {
            color: $textColor_dark;
        }
    }
}
